@model Project2BurgerMenu.Entities.Admin

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <div class="alert alert-info">Burger Menü Giriş</div>
    <form method="post">
        <label>Kullanıcı Adınız</label>
        @Html.TextBoxFor(x=>x.Username, new {@class="form-control"})
        
        <label>Şifreniz</label>
        @Html.PasswordFor(x=>x.Password, new {@class="form-control"})

        <button class="btn btn-primary"> Giriş Yap</button>
    </form>

</div>
